* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: transparent;
}

header img {
    height: 40px;
    max-width: 100%;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div select {
    width: 100px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

header div a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
}

/* hero-section */

.hero {
    background-image: url('./images/bg-image.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.hero .master {
    height: 100vh;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0.9) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}

.hero .master .content {
    max-width: 800px;
}

.hero .master .content h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
}

.hero .master .content h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px 20px;
}

.hero .master .content p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 30px;
}

.hero .master .content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}

.hero .master .content div input {
    width: 60%;
    height: 7vh;
    background: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    color: white;
    padding: 30px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}

.hero .master .content div input::placeholder {
    color: #888;
    font-weight: 500;
}

.hero .master .content div button {
    width: 40%;
    height: 9vh;
    background-color: red;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hero .master .content div button:hover {
    background-color: rgb(236, 17, 17);
}

/* trending movies */

.trending {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 150px;
    background-color: #000;
    color: white;
    position: relative;
}

.trending::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #000;
    border-top: 3px solid #ff0055;
    border-radius: 100% 100% 0 0;
    box-shadow: inset 0 15px 25px -10px rgba(255, 255, 255, 0.2);
    /* box-shadow: inset 0 10px 20px rgba(, 0, 0, 0.9); */
}

.trending .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
}

.trending .images .image {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.trending .images .image:hover {
    transform: scale(1.06);
}

.trending .images .image img {
    height: 250px;
    width: 100%;
    max-width: 180px;
    border-radius: 10px;
}

.trending .images .image h1 {
    position: absolute;
    bottom: 1px;
    left: -15px;
    font-size: 100px;
    color: black;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
}

/* reasons */

.reasons {
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #000;
    color: white;
}

.reasons .cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.reasons .cards .card {
    background: linear-gradient(135deg, #30027a, #45036b, #430357);
    width: 250px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.reasons .cards .card img {
    width: 30%;
    margin-bottom: -10px;
}

.reasons .cards .card div p {
    margin-top: 10px;
}

.reasons .cards .card h3 {
    font-size: 22px;
}

.reasons .cards .card p {
    font-size: 14px;
    color: #999;
    font-weight: 600;
}

/* question-section */

.que-sec {
    background-color: #000;
    color: white;
    padding: 50px 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.que-sec .questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.que-sec .questions .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px 30px;
    cursor: pointer;
}

.que-sec .questions .question h3 {
    font-size: 22px;
    font-weight: 400;
}

.que-sec .questions .question div {
    font-size: 50px;
    font-weight: 200;
}

.que-sec .questions .question:hover {
    background-color: #444;
}

/* email-section */

.email-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
}

.email-sec p {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 30px;
}

.email-sec div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-sec div input {
    width: 550px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    color: #999;
    padding: 15px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}

.email-sec div button {
    background-color: red;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
}

/* footer */

.footer-sec {
    padding: 50px 140px;
    background-color: #000;
    color: #888;
}

.footer-sec p {
    margin-top: 30px;
}

.footer-sec select {
    background: transparent;
    color: #888;
    padding: 5px 15px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-top: 30px;
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-top: 10px;
}

footer ul li a {
    color: #888;
}

@media (max-width: 1260px) {
    header {
        padding: 20px 60px;
    }

    .hero .master .content h1 {
        font-size: 38px;
    }

    .hero .master .content h4 {
        font-size: 14px;
    }

    .hero .master .content p {
        font-size: 12px;
    }

    .hero .master .content div input {
        height: 4vh;
    }

    .hero .master .content div button {
        height: 60px;
        font-size: 18px;
    }

    .trending h2 {
        font-size: 22px;
    }

    .trending .images .image {
        width: 18%;
        flex-wrap: wrap;
    }

    .trending .images .image h1 {
        font-size: 82px;
    }

    .reasons h2 {
        font-size: 22px;
    }

    .reasons .cards .card {
        width: 230px;
        height: 250px;
    }

    .reasons .cards .card img {
        width: 20%;
    }

    .reasons .cards .card h3 {
        font-size: 18px;
    }

    .reasons .cards .card p {
        font-size: 12px;
    }

    .que-sec h2 {
        font-size: 22px;
    }

    .que-sec .questions .question {
        padding: 5px 25px;
    }

    .que-sec .questions .question h3 {
        font-size: 18px;
    }

    .que-sec .questions .question div {
        font-size: 40px;
    }

    .email-sec div input {
        font-size: 12px;
    }

    .email-sec div button {
        font-size: 20px;
    }

    footer li a {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    header {
        padding: 15px 50px;
    }

    header img {
        height: 30px;
    }

    .hero .master .content h1 {
        font-size: 28px;
    }

    .hero .master .content h4 {
        font-size: 12px;
    }

    .hero .master .content p {
        font-size: 10px;
    }

    .hero .master .content div input {
        height: 40px;
        padding: 0 10px;
    }

    .hero .master .content div button {
        height: 40px;
        font-size: 18px;
    }

    .trending h2 {
        font-size: 18px;
    }

    .trending .images .image {
        width: 160px;
        flex-wrap: wrap;
    }

    .trending .images .image img {
        width: 100%;
    }

    .trending .images .image h1 {
        font-size: 72px;
    }

    .reasons h2 {
        font-size: 18px;
    }

    .reasons .cards .card {
        width: 340px;
        height: 250px;
    }

    .que-sec h2 {
        font-size: 18px;
    }

    .que-sec .questions .question {
        padding: 0 20px;
    }

    .que-sec .questions .question h3 {
        font-size: 18px;
    }

    .que-sec .questions .question div {
        font-size: 32px;
    }

    .email-sec div input {
        padding: 10px;
        font-size: 14px;
    }

    .email-sec div button {
        font-size: 16px;
    }

    footer li a {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 40px;
    }

    header img {
        height: 20px;
    }

    header div select {
        font-size: 12px;
    }

    header div a {
        font-size: 12px;
    }

    .hero .master .content h1 {
        font-size: 24px;
    }

    .hero .master .content div input {
        height: 32px;
        font-size: 14px;
    }

    .hero .master .content div button {
        height: 32px;
        font-size: 14px;
    }

    .trending {
        padding: 70px 25px;
    }

    .trending .images .image {
        width: 230px;
        height: 180px;
        margin-bottom: 90px;
        flex-wrap: wrap;
    }

    .trending .images .image img {
        width: 100%;
    }

    .trending .images .image h1 {
        font-size: 62px;
        top: 150px;
    }

    .reasons {
        padding: 0 25px;
    }

    .reasons .cards .card {
        width: 48%;
        height: 200px;
    }

    .reasons .cards .card h3 {
        font-size: 18px;
    }

    .reasons .cards .card img {
        height: 70px;
        width: 70px;
    }

    .que-sec {
        padding: 50px 25px;
    }

    .que-sec .questions .question {
        padding: 0 10px;
    }

    .que-sec .questions .question h3 {
        font-size: 14px;
    }

    .que-sec .questions .question div {
        font-size: 24px;
    }

    .email-sec p {
        font-size: 12px;
        margin-top: -10px;
    }

    .email-sec div input {
        padding: 10px;
        font-size: 14px;
        width: 400px;
    }

    .email-sec div button {
        font-size: 14px;
    }

    .footer-sec {
        padding: 10px 25px;
        background-color: #000;
        color: #888;
    }

    .footer-sec p {
        margin-top: 16px;
        font-size: 14px;
    }

    .footer-sec select {
        padding: 5px;
        font-size: 12px;
        margin-top: 20px;
    }

    footer {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    footer ul {
        flex-wrap: wrap;
    }

    footer ul li {
        margin-top: 5px;
    }
}

@media (max-width: 530px) {
    header {
        padding: 10px 20px;
    }

    header img {
        height: 18px;
    }

    header div select {
        font-size: 12px;
        padding: 5px;
    }

    header div a {
        font-size: 12px;
        padding: 5px 10px;
    }

    .hero .master .content h1 {
        font-size: 24px;
    }

    .hero .master .content div {
        flex-direction: column;
        margin: 5px 20px;
    }

    .hero .master .content div input {
        width: 100%;
        height: 34px;
        font-size: 14px;
    }

    .hero .master .content div button {
        width: 100%;
        height: 34px;
        font-size: 14px;
    }

    .trending {
        padding: 70px 20px;
        align-items: center;
    }

    .trending .images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .trending .images .image {
        height: 160px;
        background-position: center;
        background-size: cover;
    }

    .trending .images .image h1 {
        font-size: 52px;
        top: 160px;
    }

    .reasons {
        padding: 0 25px;
    }

    .reasons h2 {
        text-align: center;
    }

    .reasons .cards {
        text-align: center;
        justify-content: center;
    }

    .reasons .cards .card {
        width: 100%;
        height: 200px;
        align-items: center;
        gap: 10px;
    }

    .reasons .cards .card h3 {
        font-size: 18px;
    }

    .reasons .cards .card img {
        height: 30%;
        width: 15%;
    }

    .que-sec {
        padding: 30px 25px;
    }

    .que-sec h2 {
        text-align: center;
        font-size: 16px;
    }

    .que-sec .questions .question h3 {
        font-size: 12px;
    }

    .que-sec .questions .question div {
        font-size: 18px;
    }

    .email-sec p {
        font-size: 12px;
        margin-top: -10px;
        text-align: center;

    }

    .email-sec div {
        padding: 0 25px;
        flex-direction: column;
        width: 100%;
    }

    .email-sec div input {
        padding: 10px;
        font-size: 12px;
        width: 100%;
    }

    .email-sec div button {
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
    }

    .footer-sec {
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .footer-sec footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-sec footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-sec p {
        margin-top: 16px;
        font-size: 12px;
        text-align: center;
    }
}