* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 50px;
    background-color: black;
}

.logo img {
    height: 70px;
    width: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.nav-menu li a:hover {
    color: blue;
}

.arrow {
    font-size: 20px;
}

.btn {
    text-decoration: none;
    background-color: blueviolet;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(228, 237, 222);
    color: black;
}

.contact-section {
    background: radial-gradient(circle at center, #3f2a6f 10%, #1a102f 30%, #000 40%);
    color: white;
}

.contact-title {
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    padding: 135px 0 100px 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.contact-info {
    flex: 1;
    padding: 10px auto;
}

.contact-info p {
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 8px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-left: 40px;
    font-size: 30px;
}

.social-icons a:hover {
    color: aqua;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label {
    font-size: 22px;
    font-weight: 500;
}

.contact-form form input,
.contact-form form select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 5px 0 10px 0;
    background-color: #f7f6f6;
}

.contact-form form a {
    width: 25%;
    margin: 30px auto;
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 50px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}