* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-color: #000;
    color: #ffffff;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 50px;
    background-color: black;
}

.logo img {
    height: 70px;
    width: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.nav-menu li a:hover {
    color: blue;
}

.arrow {
    font-size: 20px;
}

.btn {
    text-decoration: none;
    background-color: blueviolet;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(228, 237, 222);
    color: black;
}

.contact-section {
    background: radial-gradient(circle at center, #3f2a6f 10%, #1a102f 30%, #000 40%);
    color: white;
}

.contact-title {
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    padding: 135px 0 100px 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    align-items: flex-start;
}

.contact-info {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contact-info p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.6;
    margin-right: 30px;
    font-weight: 600;
}

.contact-info a{
    text-decoration: none;
    color: white;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.social-icons a {
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.social-icons a:hover {
    color: aqua;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-form form label {
    font-size: 22px;
    font-weight: 600;
}

.contact-form form input,
.contact-form form select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 5px 0 10px 0;
    background-color: #f7f6f6;
}

.btn-sub{
    width: 25%;
    margin: 30px auto;
    display: block;
    border: none;
    cursor: pointer;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 50px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    padding: 20px;
    background-color: #000;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.footer-section{
    display: flex;
    padding: 80px 100px;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-about {
    flex: 2;
}

.footer-links,
.footer-courses,
.footer-contact {
    flex: 1;
}

.footer-about img{
    width: 70%;
}

.footer-about p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.footer-links h3, .footer-courses h3, .footer-contact h3{
    margin-bottom: 25px;
}

.footer-links a, .footer-courses a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-links a:hover, .footer-courses a:hover {
    color: blue;
}

.footer-links button{
    background-color: blueviolet;
    color: #ffffff;
    border: none;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}

.footer-links button:hover{
    background-color: #ffffff;
    color: blueviolet;
    font-weight: 600;
}

.footer-contact p {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    line-height: 1.6;
}

.footer-contact i{
    margin-top: 4px;
    font-size: 18px;
}

.footer-contact a{
    color: #ffffff;
    text-decoration: none;
}

.footer-contact a:hover {
    color: blueviolet;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.bottom{
    font-size: 18px;
    font-weight: 600;
}